<launch>
    <node pkg="threed_viz" type="robotiq3f_serial.py" name="robotiq3f_serial" output="screen" >
        <param name="port" value="/dev/ttyUSB2"/>
        <param name="baudrate" value="115200"/>
        <param name="timeout" value="1"/>
    </node>

    <node pkg="sensor_brainco" type="data_sensor_visual" name="data_sensor_visual" output="screen" >
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baudrate" value="921600"/>
    </node>
    
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sensor_brainco)/config/rviz_hand.rviz"/> -->

    <!-- <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" /> -->

    <node pkg="threed_viz" type="motion_control" name="motion_control" output="screen" />

    <!-- <include file="$(find xela_server_ros)/launch/service.launch" /> -->

</launch>

